/*css for page colours*/
p{
	display: inline;
	margin: 0px 15px 0px 15px;
}
.container{
	background-color:#66CDAA;
	margin:20px;
	border-radius: 20px;
;
}
body {
	background-color: #E6E6FA;
}
button{
	background-color: red;
}
.submit{
	background-color: white;
}
